.coloda {
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 15px;
  margin-left: 2px;
  box-shadow: 6px 8px 10px 1px #000;
  border-radius: 10px;
  background: radial-gradient(#000 0%, #7B1672 100%);
  width: 80px;
  height: 120px;
  border: 2px solid;
  font-size: 30px;
  text-align: center;
}

.score {
  width: 150px;
  height: 30px;
  border: 2px solid;
  font-size: 20px;
  text-align: center;
  background: radial-gradient(#FFFFE0 0%, #BDB76B 70%);
}

.flex-container {
  width: 600px;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.flex-containerColumn {
  flex-direction: column;
}

.res {
  width: 120px;
  height: 50px;
  border: 2px solid;
  font-size: 20px;
  text-align: center;
}

.regul {
  width: 250px;
  height: 100px;
  border: 2px solid;
  text-align: center;
  font-size: 7px;
}

.scoreFlexColumn {
  flex-direction: column;
  display: flex;

}

.scoreFlex {

  width: 700px;
  height: 35px;
  display: flex;
  flex-direction: row;

}

.pre {
  width: 150px;
  height: 30px;
  color: #F0E68C;
  font-size: 20px;
  text-align: center;

}

.center {
  display: flex;
  flex-direction: row;
  text-align: center;

}

.table {

  width: 600px;
  height: 412px;

  box-shadow: -9px 9px 18px 7px #000 inset;
  background: radial-gradient(#07540F 0%, #000 100%);
}

.button {
  background: radial-gradient(#FFFFE0 0%, #BDB76B 80%);
}